/* main elements */

body {
    background-color: teal;
    align-items: center;
}


/* div classes */

.main-cont {
    background-color: #f7f7f7;
    border-radius: 6px;
}

.white-box {
    background-color: white;
    border-radius: 7px;
    width: 250px;
    align-items: center;
    padding: 12px;
}


/* 
#2e2e2e not black 
#003f5c dark teal
#58508d burple 
#bc5090 greyish magenta 
#ff6361 peach 
#ffa600 turmeric  */